# URL base del backend / API Gateway del ecosistema
NEXT_PUBLIC_API_BASE_URL=https://api.ejemplo.com

# URLs de los frontends de cada microservicio
NEXT_PUBLIC_URL_MICROSERVICIO_CISTEM_VISION=https://vision.ejemplo.com
# NEXT_PUBLIC_URL_MICROSERVICIO_<NOMBRE>=https://...
